#container{
    background-color: lightcyan;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
/* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
#map {
    height: 500px;
    width: 500px;
    padding: 820px, 820px, 820px, 820px;
}
#option{
    display: right;
}
#subway-container {
    display: right;
}